*{
    margin:0;
    padding:0;
    font-family:'popins','sans-serif';
    box-sizing: border-box;
}
body{
    background: #454545;
    color: #fff;
}
.container{
    width: 100%; 
    height: 100vh;
    padding: 20px;
    display: flex;
}
.left,.right{
    flex-basis: 50%;
    padding: 10px;
   
}
textarea{
    width:100%;
    height:28%;
    background: #1f1f1f;
    color: #34d71f;
    /* padding: 10px 20px; */
    
    font-size: 18px;
}
iframe{
    width: 100%;
    height: 94%;
    background: #fff;
    border: 0;
    outline: 0;
}
label i{
    margin: 10px;
    margin-left: 10px;
}
label{
    display: flex;
    align-items: center;
    background: #9b8604;
    height: 30px;

}
